<!DOCTYPE html>
<html>
<head>
  
    <title>TABLE</title>
 <style>
     table,th,td{
          border: 0.5px solid black;
          border-collapse:collapse;}
 </style>

</head>
<body>
    <h1 style="text-align: center;">TABLE</h1>
    <table style="width: 90%;">
        <tr>
            <th><b>FIRST NAME</b></th>
            <th><b>LAST NAME</b></th>
            <th><b>AGE</b></th>
            <th><b>ROLL NO</b></th>
        </tr>

        <tr>
            <th><b>SONALI</b></th>
            <th><b>DHAKATE</b></th>
            <th><b>20</b></th>
            <th><b>115</b></th>
        </tr>

        <tr>
            <th><b>MRUNAL</b></th>
            <th><b>SHEGAOKAR</b></th>
            <th><b>19</b></th>
            <th><b>108</b></th>
        </tr>

        <tr>
            <th><b>DUGGU</b></th>
            <th><b>DHAKATE</b></th>
            <th><b>4</b></th>
            <th><b>301</b></th>
        </tr>
</body>
</html>